<!DOCTYPE html>
<html lang="en">
<head>
    {{template "partials/header"}}
    <style>
        body {
            padding: 80px 240px;
        }

        h1 {
            margin-bottom: 1em;
        }
    </style>
</head>
<body>
    <h1>web demos for <a href="https://github.com/suyash/bots">bots</a></h1>
    <ul>
        {{range .Items}}
        <li>
            <a href="{{.Link}}">{{.Name}}</a>
        </li>
        {{end}}
    </ul>
</body>
</html>
